.experience div,
.experience input {
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 3px;
}

.experience input:hover,
.experience input:focus {
  background-color: rgba(245, 245, 245, 1);
}

.experience .title {
  text-align: start;
  margin-top: 20px;
  font-weight: 600;
  border-bottom: 1px solid black;
  font-size: 20px;
  border-radius: 0;
}

.experience #title,
.experience #company {
  text-align: start;
  width: 50%;
}

.experience #dates,
.experience #location {
  width: 50%;
  text-align: end;
}

#responsibilities {
  width: 100%;
  text-align: start;
}

.titleDatesContainer,
.companyLocationContainer {
  display: flex;
}

#title,
#dates {
  font-weight: 700;
}

#company,
#location {
  font-style: italic;
}

.buttonContainer {
  text-align: start;
}
